@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./loadingPage.scss";
@import "./nav.scss";
@import "./footer.scss";
@import "./button.scss";
@import "./homepage.scss";

body {
	font-family: "Neue Haas Unica";
}

.title {
	font-size: 18px;
	color: #3e3d3b;
	font-weight: 500;
	@include responsive($md) {
		font-size: 24px;
	}
	@include responsive($lg) {
		font-size: 36px;
	}
}
.sub-title-xl {
	font-size: 16px;
	// @include responsive($md) {
	// 	font-size: 18px;
	// }
	@include responsive($lg) {
		font-size: 20px;
	}
}
.sub-title-lg {
	font-size: 14px;
	// @include responsive($md) {
	// 	font-size: 16px;
	// }
	@include responsive($lg) {
		font-size: 18px;
	}
}
.sub-title-md {
	font-size: 12px;
	// @include responsive($md) {
	// 	font-size: 14px;
	// }
	@include responsive($lg) {
		font-size: 16px;
	}
}
.sub-title-sm {
	font-size: 10px;
	// @include responsive($md) {
	// 	font-size: 12px;
	// }
	@include responsive($lg) {
		font-size: 14px;
	}
}
.text {
	font-size: 8px;
	// @include responsive($md) {
	// 	font-size: 10px;
	// }
	@include responsive($lg) {
		font-size: 12px;
	}
}
.small-text {
	font-size: 8px;
	@include responsive($lg) {
		font-size: 10px;
	}
}
.tiny-text {
	font-size: 8px;
}

.scrollbar {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}
	@include responsive($lg) {
		&::-webkit-scrollbar {
			display: inline;
			width: 10px;
			height: 10px;
		}
		&::-webkit-scrollbar-track {
			background: #fff;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: #656565;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #3f3f3f;
		}
	}
}
.scrollbar-white {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}
	@include responsive($lg) {
		&::-webkit-scrollbar {
			display: inline;
			width: 10px;
			height: 10px;
		}
		&::-webkit-scrollbar-track {
			background: #1d1d1d;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: #fff;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #d5d4d4;
		}
	}
}
