@import "./variables.scss";
@import "./mixins.scss";

.button {
	border-radius: 5px;
	padding: 0.65rem 1rem;
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&.primary {
		background: $base-color;
	}
	&.secondary {
		background: #ffffff;
		color: $base-color;
		border: 2px solid #ffffff;
	}
	&.transaparent {
		border: 2px solid #ffffff;
		background-color: transparent;
	}
}
